body{
    background-color: #F5F5F5;
}

/* estilos Index */
.colormenu{
    background-color: #F5F5F5;
    margin-bottom: 20px;
    border-bottom:  1px solid gray;
}

.border-header{
    border-bottom: 1px solid gray;
}

.margin-header{
    margin-top: 10px;
}

.estilo-header{
    text-decoration: none;
    color: black;
}

.botones-main{
    color: black;
}

.fondo-footer{
    background-color: black;
    color: blanchedalmond;
}

#border-radius{
    border-radius: 100px;
    width: 800px;
    height: 400px;
}

.margin-marcas{
    margin: 40px;
}

#padding-footer{
    margin-top: 450px;
}

/* nosotros estilos */

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#tamano-imagen{
    height: 400px;
    opacity: 0.2;
}

#nosotros1{
    height: 600px;
    width: 200px;
    margin-top: 30px;
}

#nosotros2{
    height: 600px;
    width: 200px;
    margin-top: 30px;
}

#nosotros3{
    height: 600px;
    width: 200px;
    margin-top: 30px;
}

.color-nosotros{
    background-color: #30475E;
    padding: 10px;
}