body{
    background-color: #F5F5F5;
}

/* estilos Index */

.colorMenu{
    background-color: #F5F5F5;
    margin-bottom: 20px;
    border-bottom:  1px solid gray;
}

.borderHeader{
    border-bottom: 1px solid gray;
}

.marginHeader{
    margin-top: 10px;
}

.estiloHeader{
    text-decoration: none;
    color: black;
}

.fondoFooter{
    background-color: black;
    color: blanchedalmond;
}

#borderRadius{
    border-radius: 100px;
    width: 800px;
    height: 400px;
}

.marginMarcas{
    margin: 40px;
}

#paddingFooter{
    margin-top: 450px;
}

/* nosotros estilos */

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#tamanoImagen{
    height: 400px;
    opacity: 0.2;
}

#nosotros1{
    height: 600px;
    width: 200px;
    margin-top: 30px;
}

#nosotros2{
    height: 600px;
    width: 200px;
    margin-top: 30px;
}

#nosotros3{
    height: 600px;
    width: 200px;
    margin-top: 30px;
}

.colorNosotros{
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
}

.mt-nosotros{
    margin-top: 500px;
}

/* contacto estilos */

.marginFormulario{
    margin: 10px 5px;
}

.colorFormulario{
    background-color: gray;
    border-radius: 10px;
}

.estilosMapa{
    margin-top: 20px;
}

/* mediaqueries celular */
@media screen and (max-width: 765px) and (min-width: 320px){
    .mt-nosotros{
        margin-top: 1200px;
    }
}


